<script>

    function test(){
        var averages = document.getElementsByClassName("average");
        var classe_averages = document.getElementsByClassName("classe-average");
        var min_averages = document.getElementsByClassName("min-average");
        var max_averages = document.getElementsByClassName("max-average");
        var coefs = document.getElementsByClassName("coef");

        var min_average = 0.0;
        var global_average = 0.0;
        var max_average = 0.0;
        var classe_average = 0.0;
        var number_of_grade= 0;

        for (let i = 0; i < averages.length; i++) {

            coef = parseInt(coefs[i].value);

            global_average += parseFloat(averages[i].textContent)*coef;
            classe_average += parseFloat(classe_averages[i].textContent)*coef;
            min_average += parseFloat(min_averages[i].textContent)*coef;
            max_average += parseFloat(max_averages[i].textContent)*coef;
            number_of_grade += coef;

        }

        document.getElementsByClassName("global-average")[0].textContent = (global_average/number_of_grade).toPrecision(3);
        document.getElementsByClassName("global-min-average")[0].textContent = (min_average/number_of_grade).toPrecision(3);
        document.getElementsByClassName("global-max-average")[0].textContent = (max_average/number_of_grade).toPrecision(3);
        document.getElementsByClassName("global-classe_average")[0].textContent = (classe_average/number_of_grade).toPrecision(3);
    }
    test();
    var element = document.getElementById('update');
    element.addEventListener("keyup", function (evt) {
        test();
    }, false);

    element.addEventListener("update", function (evt) {
        test();
    }, false);

</script>